<!DOCTYPE html>
<html>
<head>
    <title>Pixel Lab</title>
</head>
<body>

    <h1>Mini Photoshop Python</h1>

    <!-- Form Upload -->
    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="image">

        <button type="submit">
            Upload
        </button>

    </form>

    <hr>

    <!-- Tampilkan gambar -->
    {% if filename %}

        <h2>Gambar Asli</h2>

        <img
            src="{{ url_for('static', filename='uploads/' + filename) }}"
            width="400"
        >

    {% endif %}

    <a href="/grayscale/{{ filename }}">
    <button>Grayscale</button>
</a>

<a href="/blur/{{ filename }}">
    <button>Blur</button>
</a>

<a href="/sharpen/{{ filename }}">
    <button>Sharpen</button>
</a>

<a href="/threshold/{{ filename }}">
    <button>Threshold</button>
</a>

<a href="/edge/{{ filename }}">
    <button>Edge</button>
</a>

</body>
</html>